<div class="container">
  <article>
    <form action="/api/sessions/login" method="post">
      <label for="email">
        <input type="email" name="email" id="email" required />
      </label>

      <label for="password">
        <input type="password" name="password" id="password" required />
      </label>

      <button>Log in</button>
      <a href="/register">Register</a>
    </form>
  </article>

</div>